<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<nav class="navbar fixed-top navbar-expand-md navbar-dark" style="background-color: #1c043e;" th:fragment="navigation">
    <img th:src="@{/asset/gfj.jpeg}" alt="gfj_logo" width="130" height="90" style="border-radius: 50px;"
         class="d-inline-block align-text-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul sec:authorize="isAuthenticated()" class="navbar-nav ms-auto">
        <a href="/logout" type="button" class="btn btn-danger" style="margin-right: 50px;">Logout</a>
    </ul>
</nav>
<footer class="footer fixed-bottom" th:fragment="footer" style="background-color: #1c043e; color: white; text-align: center;">
    <p>© 2020-2030 Gems From Jaipur</p>
</footer>
<nav class="text-white min-vh-100" style="background-color: #250553; color: white; position:fixed" th:fragment="left-sidebar">
    <ul class="nav flex-column ms-3 mt-5">
        <li class="nav-item">
            <a class="nav-link text-white" href="/dashboard">Diamond Calculator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Quotations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Administration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Analytics</a>
        </li>
    </ul>
</nav>
<block th:fragment="script">
    <script th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</block>
</body>
</html>